<div class="container content">
    <div class="row">
        <div class="col-md-6">
           Hello
        </div>
        <div class="col-md-6">
            Worlds
         </div>
    </div>
</div>