<div class="card-content" [@esFavorito]="destino.isSelected() ? 'estadoFavorito' : 'estadoNoFavorito'">
    <div class="card-img">
        <img src="https://placeimg.com/380/230/nature" alt="">
        <span>
            <h4>{{position}}</h4>
        </span>
    </div>
    <div class="card-desc">
        <h3>{{destino.nombre}}</h3>
        <p>servicios</p>
        <ul>
            <li *ngFor="let a of destino.servicios">
                <span [ngSwitch]="a">
                    <i *ngSwitchCase="'desayuno'" style="color: red;">
                        {{a}}
                    </i>
                    <i *ngSwitchDefault>
                        {{a}}
                    </i>
                </span>
            </li>
        </ul>
        <div>
            <a href="#" (click) = "voteUp()" appTrackearClick data-trackear-tags="destino_vote_up lista_destinos_item"><i class="material-icons md-18" >thumb_up</i></a>
            <a href="#" (click) = "voteDown()"appTrackearClick data-trackear-tags="destino_vote_down lista_destinos_item"><i class="material-icons md-18">thumb_down</i></a>
            {{destino.votes}}
        </div>
        <a href="#" class="btn-card" (click)="ir()"appTrackearClick data-trackear-tags="destino_elegir_preferido lista_destinos_item">Ir!</a>
        <span *ngIf="destino.isSelected()">
            <span ngNonBindable >{{Preferido}}</span>
        </span>
        <a [routerLink]="['/destino']">Ver Detalle</a> 
    </div>
</div>